body{
    padding: 0%;
    margin: 0%;
    width: 100vw;
    height: 100vh;
}
.div-principal{
    background-image: url(http://demo.themenio.com/kovid19/assets/images/shape-a.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}
header{
    height: 735px;
}
.sobreposição{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.navbar-logo{
    display: flex;
}
.navbar{
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 0;
}
.div-navbar{
    display: flex;
    align-items: center;
    margin: 0 -15px;
}
.navbar-menu{
    padding-left: 55px;
    font-size: 16px;
}
.navbar-menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar-menu li {
    padding-left: 18px;
}
.navbar-menu a {
    color: #50658e;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}
.navbar-menu a:hover{
    color: #2a81ea !important ;
}
.navbar-menu span {
    padding-right: 8px;
}
.navbar-menu .getstarted {
    color: white !important;
    background-color: #2a81ea;
    font-weight: bold;
    border-radius: 2rem;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}
.navbar-menu .getstarted:hover{
    background-color: #1468cd;
    color: white !important;
}
.icone-abrir{
    padding-left: 545px;
    font-size: 20px;
    padding-top: 12px;
}
main{
    width: 100%;
    height: 414px;
}
.bg-menu-responsivo {
    background-color: rgba(27,71,161,0.8);
    opacity: 1;
    z-index: 9999;
    height: 100vh;
    margin-top: 412px;
}
.navbar-mobile{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    background: white;

}
.navbar-mobile ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.icone-fechar-menu{
    padding-left: 696px;
    font-size: 22px;
}
.navbar-mobile .getstarted {
    color: white !important;
    background-color: #2a81ea;
    font-weight: bold;
    border-radius: 2rem;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    margin-left: 30px;
}
.navbar-mobile .getstarted:hover{
    background-color: #1468cd;
    color: white !important;
}
.pb-22{
    padding-bottom: 22px;
}
#bg_menu_mobile{
    display: none;
}
.tamanho{
    padding-top: 40px;
}
.img-primeira-section{
    margin-top: 130px;
}
.titulo-corona-primeira-section{
    font-size: 5.25rem;
    font-family: 'Oswald', sans-serif;
    color: #50658e;
}
.titulo-covid-19-primeira-section{
    color: #f86168;
    font-size: 1.75rem;
    font-family: 'Oswald', sans-serif;
}
.titulo-virus-primeira-section{
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    color: #50658e;
}
.primeira-section{
    margin-top: 165px;
}
.titulo{
    line-height: 3;
}
.subtilo-primeira-section{
    font-family: 'Roboto Condensed', sans-serif;
    color: #3d4b69;
    line-height: 1.67;
}
#primeira-section{
    display: flex;
    list-style: none;
    font-weight: bold;
    margin-left: -70px;
    margin-top: 40px;
}
#primeira-section .getstarted{
    color: white !important;
    background-color: #2a81ea;
    font-weight: bold;
    border-radius: 2rem;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    margin-left: 30px;
    padding: 15px 20px 15px 20px;
}
.ml-13 {
    margin-left: 13px;
}
.mt-70{
    margin-top: 70px;

}
.text-primeira-section{
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #7d92bb;
    font-family: 'Roboto', sans-serif;
}
.font-size-15{
    font-size: 15px;
}
.numero-primeira-section{
    font-family: 'Oswald', sans-serif;
    color: #465675;
    font-size: 1.75rem;
}
.legenda-primeira-section{
    color: #7d92bb;
    font-family: 'Roboto Slab', serif;
    font-size: 0.75rem;
    margin-top: 25px;
}
@media (max-width: 320px) {
    .navbar-menu{
        display: none;
    }
    header{
        height: 990px;
    }
    .navbar-logo{
        padding-left: 20px;
    }
    .icone-abrir{
        padding-left: 120px;
        padding-top: 2px;
    }
    .icone-fechar-menu{
        padding-top: 28px;
        font-size: 29px;
        color: white;
        padding-left: 269px;
    }
    .titulo-corona-primeira-section{
        font-size: 3.5rem;
    }
    .titulo-covid-19-primeira-section{
        font-size: 1rem;
    }
    .titulo-virus-primeira-section{
        font-size: 1.875rem;
    }
    .primeira-section {
        margin-top: 45px;
    }
    #primeira-section  {
        flex-wrap: wrap;
    }
    #primeira-section li{
        margin-top: 25px;
    }
    #primeira-section .getstarted{
        padding: 12px 15px 12px 15px;
        font-size: 0.8125rem;
    }
    .font-size-15 {
        font-size: 12px;
    }
    .text-mobile-recovered-primeira-section{
        margin-top: -43px;
    }
    .numero-primeira-section {
        line-height: 1;
        font-size: 1rem;
    }
    .text-mobile-deaths-primeira-section{
        margin-left: 1px !important;
        margin-top: 25px;
    }
    .legenda-primeira-section {
        margin-left: 20px;
        font-size: 0.81rem;
        margin-top: 15px;
    }
    .mt-70{
        margin-top: 35px !important;
    }    
}
  
  
@media (max-width: 375px) and (min-width: 321px){
    .navbar-menu{
        display: none;
    }
    header{
      height: 942px;
    }
    .icone-abrir{
        padding-left: 170px;
    }
    .navbar-logo{
        padding-left: 20px;
    }
    .icone-fechar-menu{
        padding-top: 32px;
        font-size: 29px;
        color: white;
        padding-left: 320px;
    }
    .img-primeira-section {
        margin-top: 115px;
    }
    .titulo-corona-primeira-section{
        font-size: 3.5rem;
    }
    .titulo-covid-19-primeira-section{
        font-size: 1rem;
    }
    .titulo-virus-primeira-section{
        font-size: 1.875rem;
    }
    .primeira-section {
        margin-top: 45px;
    }
    #primeira-section .getstarted{
        padding: 12px 15px 12px 15px;
        font-size: 0.8125rem;
    }
    .font-size-15 {
        font-size: 12px;
    }
    .text-mobile-recovered-primeira-section{
        margin-top: -52px;
    }
    .numero-primeira-section {
        line-height: 1;
        font-size: 1.5rem;
    }
    .text-mobile-deaths-primeira-section{
        margin-left: 1px !important;
        margin-top: 25px;
    }
    .legenda-primeira-section {
        margin-left: 20px;
    }
    .mt-70{
        margin-top: 35px !important;
    }    
}
  
@media (max-width: 576px) and (min-width:  376px) {
    .navbar-menu{
        display: none;
    }
    header{
      height: 950px;
    }
    .icone-abrir{
        padding-left: 220px;
        padding-top: 5px;
    }
    .navbar-logo{
        padding-left: 20px;
    }
    .icone-fechar-menu{
        padding-top: 32px;
        font-size: 29px;
        color: white;
        padding-left: 374px;
    }
    .primeira-section {
        margin-top: 35px;
    }
    .titulo-corona-primeira-section{
        font-size: 3.5rem;
        line-height: 1;
    }
    .titulo-covid-19-primeira-section{
        font-size: 1rem;
        margin-bottom: .125rem;
    }
    .titulo-virus-primeira-section{
        font-size: 1.875rem;
    }
    .subtilo-primeira-section{
        font-size: 1rem;
        line-height: 1.67;
    }
    #primeira-section .getstarted{
        padding: 12px 15px 12px 15px;
        font-size: .8125rem;
    }
    .font-size-15 {
        font-size: 12px;
    }
    .text-mobile-recovered-primeira-section{
        margin-top: -52px;
    }
    .numero-primeira-section {
        line-height: 1;
        font-size: 1.5rem;
    }
    .text-mobile-deaths-primeira-section{
        margin-left: 1px !important;
        margin-top: 25px;
    }
    .legenda-primeira-section {
        margin-left: 20px;
    }
    .mt-70{
        margin-top: 35px !important;
    }    
    
}
  
@media (max-width: 768px) and (min-width: 577px){
    .navbar-menu{
      display: none;
    }
    header{
      height: 975px;
    }
    .icone-fechar-menu{
        padding-top: 35px;
        font-size: 35px;
        color: white;
    }
    .img-primeira-section{
        width: 60%;
        margin: 130px;
    }
    .titulo-corona-primeira-section{
        font-size: 4.5rem;
    }
    .titulo-covid-19-primeira-section{
        font-size: 1.375rem;
        line-height: 3.5;
    }
    .titulo-virus-primeira-section{
        font-size: 2.5rem;
    }
    .primeira-section {
        margin-top: -35px;
    }
    .primeira-section .getstarted{
        padding: 15px 30px 15px 30px;
        font-size: 15px;
    }
    .font-size-15{
        font-size: 12px
    }
    .numero-primeira-section{
        font-size: 1.5rem;
        line-height: 1;
    }
    .legenda-primeira-section{
        margin-top: 20px;
        margin-left: 14px;
    }
}
  
@media (max-width: 1200px) and (min-width: 993px) {
    .navbar-menu{
        padding-left: 30px;
        font-size: 12px;
    }
    .navbar-menu li {
        padding-left: 10px;
    }
    header{
        height: 630px;
    }
    .icone-abrir{
        display: none;
    }
    .primeira-section{
        margin-top: 115px;
    }
    .img-primeira-section{
        margin-top: 105px;
    }
    .subtilo-primeira-section{
        margin-top: -23px;
        font-size: 14px;
    }
    #primeira-section .getstarted{
        padding: 11px 17px 11px 16px;
        font-size: 14px;
    }
    .font-size-15{
        font-size: 12px;
    }
    .numero-primeira-section{
        font-size: 1.6rem;
    }
    .text-primeira-section{
        line-height: 1;
    }
    .legenda-primeira-section{
        margin-top: 15px;
        margin-left: 10px;
    }
    .primeira-section{
        order: unset;
    }
}
@media (max-width: 1440px) and (min-width: 1200px) {
    header{
        height: 685px;
    }
    .icone-abrir{
        display: none;
    }
    .navbar-menu li{
         padding-left: 14px;
    }
    .primeira-section{
     order: unset;
    }
    .img-primeira-section {
        margin-top: 164px;
    }
}
@media (max-width: 2560px) and (min-width: 1441px) {
    header{
        height: 1285px;
    }
   .icone-abrir{
       display: none;
   }
   .navbar-menu li{
        padding-left: 14px;
   }
   .primeira-section{
    order: unset;
    }
    .img-primeira-section {
        margin-top: 288px;
    }
    .primeira-section {
        margin-top: 401px
    }
    .subtilo-primeira-section{
        font-size: 19.5px;
        
    }
}